#bigtimer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 10px;

    .numeric {
        display: flex;

        p {
            margin: auto;
            font-size: 150px;
        }
    }

    .controls {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid gray;
        position: relative;
        top: 100px;

        .icon {
            display: inline-block;
            margin: 20px;
        }
    }
}