#addsection {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin: 5px;
  }

  #addcontainer {
    background-color: $color3;
    border-radius: 100%;
    margin: 2em;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 8px #888888;

    p {
      font-size: 2em;
    }
  }

  #addcontainer:active {
    box-shadow: inset 0px 0px 18px 8px rgb(197, 197, 197);
  }
}