/* SCSS RGB */
$emerald: rgba(35, 206, 107, 1);
$redwood: rgba(173, 93, 78, 1);
$pewter-blue: rgba(112, 160, 175, 1);
$jet: rgba(48, 43, 39, 1);
$cultured: rgba(245, 243, 245, 1);

@import 'timerbank';
@import 'stopwatch';
@import 'footing';

body {
    box-sizing: border-box;
    background-color: $jet;
    color: $cultured;
    margin: 0;
}

body * {
    font-family: "Lato", sans-serif;
}


p {
    margin: 0.5em;
}

#outer {
    margin: 0;
    display: flex;
    max-height: 100vh;
}

#main{
    width: 70vw;
    margin: 0;
    max-height: 100vh;
}

#sidebar {
    border: 1px solid gray;
    width: 30vw;
    overflow: auto;
    max-height: 100vh;
}