.controls {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid gray;
    position: relative;
    top: 100px;
    cursor: pointer;

    .icon {
        display: inline-block;
        margin: 20px;
    }

    #play {
        fill: $color5;
    }
}
