/* SCSS RGB */
// $color1: rgba(35, 206, 107, 1);
// $color2: rgba(173, 93, 78, 1);
$color3: rgba(48, 107, 172, 1);
$color4: #302b27;
$color5: rgba(245, 243, 245, 1);
$color6: rgba(61, 77, 94, 1);
$color7: black;

@import 'hero/hero';
@import 'sidebar/sidebar';
@import 'audio/audio';

body {
    box-sizing: border-box;
    background-color: $color4;
    color: $color5;
    margin: 0;
}

body * {
    font-family: "Lato", sans-serif;
}

p {
    margin: 0.5em;
}

#outer {
    margin: 0;
    display: flex;
    max-height: 100vh;
}