@import 'addContainer';
@import 'copyright';
@import 'colorsContainer';

#footing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color6;
  height: 120px;
  width: 80%;
  margin: auto;
}