#modal {
    display: flex;
    justify-content: center;
    width: 30vw;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 40px auto;
    background-color: $color3;
    
    input {
        color: $color5;
        text-align: center;
        background-color: $color3;
        border: none;
        font-size: 24px;
    }

    input::placeholder {
        color: rgb(129, 171, 206);
    }

    #modalTitle {
        display: flex;
        justify-content: center;
        padding: 20px;
        input {
            font-weight: 300;
        }
    }

    #modalTime {
        display: flex;
        justify-content: center;
        padding: 20px;
        input {
            width: 150px;
        }
    }

    #modalButton {
        display: flex;
        justify-content: center;
        padding: 20px;
        button {
            background-color: $color5;
            color: $color3;
            border: none;
            padding: 10px;
            font-weight: 700;
            font-size: 16px;
        }
    }
}