extends layout

mixin container(cn, name)
    div(class=cn)
        p.title= name 
        p.displayTime 00:00:00
        div.timerButtons
            button.start Start
            button.stop Stop
            button.reset Reset


block content
    div#header 
        hr
        p Custom Stopwatches
        hr
    div#wrapper
        +container("hidden-stopwatch","template-stopwatch")
    div#addsection
        div#addcontainer
            p +