extends layout

mixin singleTimer(cn, name)
    div(class=cn)
        p.title= name 
        p.displayTime 00:00:00


block content
    div#outer
        div#hero
            div#bigtimer
                div.numeric 
                    p#bigtimer-text 12:34:56
                div.controls
                    div.icon#play play icon
                        //- img(src="imgs/play.svg")
                    div.icon#pause pause icon
                    div.icon#reset reset icon
        div#sidebar
            div#timerbank
                +singleTimer("hidden-stopwatch","template-stopwatch")
            div#footing
                a#copyright(href="http://leoncheng.dev/") (c) Leon Cheng
                div#colorsContainer
                    div.colorPad C1
                    div.colorPad C2
                    div.colorPad C3
                    div.colorPad C4
                div#addContainer
                    p#addbutton +