extends layout

mixin container(cn, name)
    div(class=cn)
        p.title= name 
        p.displayTime 00:00:00
        //- div.timerButtons
        //-     button.start Start
        //-     button.stop Stop
        //-     button.reset Reset


block content
    div#outer
        div#main
            div#bigtimer
                div.numeric 
                    p#bigtimer-text 12:34:56
                div.controls
                    div.icon#play play icon
                    div.icon#pause pause icon
                    div.icon#reset reset icon
        div#sidebar
            div#timerbank
                +container("hidden-stopwatch","template-stopwatch")
            div#footing
                p (c) Leon Cheng
                span Color1
                span $color2
                span Color3
                span Color4
                div#addcontainer
                    p#addbutton +