extends layout

mixin container(cn, name)
    div(class=cn)
        p.title= name 
        p.displayTime 00:00:00
        div.timerButtons
            button.start Start
            button.stop Stop
            button.reset Reset


block content
    div#outer
        div#main
            p Main Timer
        div#sidebar
            div#timerbank
                +container("hidden-stopwatch","template-stopwatch")
            div#addsection
                p (c) Leon Cheng
                span Color1
                span Color2
                span Color3
                span Color4
                div#addcontainer
                    p#addbutton +