extends layout

mixin container(name)
    div.container
        p.title= name 
        button.start Start
        button.stop Stop
        button.reset Reset


block content
    div#wrapper
        p hello there
        +container("Stopwatch #1")
        +container("Stopwatch #2")
        +container("Stopwatch #3")
        +container("Stopwatch #4")
