$light-blue: rgb(129, 171, 206);

#modal {
    width: 70%;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 40px auto;
    background-color: $color3;
    border: 2px solid $light-blue;
    box-shadow: 0px 0px 10px $light-blue;
    
    #modalContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .deleteIcon {
            fill: $color5;
            width: 18px;
        }
        .deleteIcon:hover {
            opacity: 0.5;
        }
    }

    input {
        color: $color5;
        text-align: center;
        background-color: $color3;
        border: none;
        font-size: 24px;
    }

    input::placeholder {
        color: $light-blue;
    }

    #modalTitle {
        display: flex;
        justify-content: center;
        padding: 20px;
        input {
            font-weight: 300;
        }
    }

    #modalTime {
        display: flex;
        justify-content: center;
        padding: 20px;
        input {
            width: 80px;
        }
    }

    #modalButton {
        display: flex;
        justify-content: center;
        padding: 20px;
        button {
            background-color: $color5;
            color: $color3;
            border: none;
            padding: 10px;
            font-weight: 700;
            font-size: 16px;
            box-shadow: 2px 3px 5px rgb(70, 70, 70);
        }
    }

}

.invisible {
    display: none !important;
}